@page
@model ArtWebApp.Pages.Galleries.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Gallery[0].GalleryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gallery[0].Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gallery[0].City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gallery[0].State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gallery[0].ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gallery[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gallery[0].ContactPerson)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gallery[0].CommissionRate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Gallery) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GalleryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactPerson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommissionRate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.GalleryID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.GalleryID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.GalleryID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
