@page
@model ArtWebApp.Pages.Paintings.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<section class="detail-holder">

    <div class="image_container">
        <h2>@Html.DisplayFor(modelItem => Model.Painting.PaintingID)</h2>
        <img id="myImg" src="~/img/@Html.DisplayFor(modelItem=> Model.Painting.ImageURL)" alt="@Html.DisplayFor(modelItem => Model.Painting.PaintingID)">

        <div class="work-detail">
            <p>
                <ul>
                    <li>@Html.DisplayFor(modelItem => Model.Painting.Category)</li>
                    <li>@Html.DisplayFor(modelItem => Model.Painting.Height)" X @Html.DisplayFor(modelItem => Model.Painting.Width)"</li>
                    <li>@Html.DisplayFor(modelItem => Model.Painting.Availability)</li>
                    <li>@Html.DisplayFor(modelItem => Model.Painting.Year)</li>

                </ul>

            </p>
        </div>


    </div>
</section>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Painting.PaintingID">Edit</a>
    <a asp-page="./Delete" asp-route-id="@Model.Painting.PaintingID">Delete</a>
    <a asp-page="./Index">Back to Portfolio</a>
</div>
